<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>
    </head>
    <body>
        <form action = "/update" method = "post">
        <input name="submit_button" type = "submit" value = "Update" />
        <input name="submit_button" type = "submit" value = "Insert" />
        <table>
            <tr><td>Task</td><td>Jmeno</td><td>Link</td><td>xpath_nadpis</td><td>xpath_clanek</td><td>xpath_links</td><td>xpath_datum</td><td>xpath_uvodni_odstavec</td></tr>
            {% for stranka in stranky %}
                <tr>  
                    <td><input type="radio" name="id_stranka" value="{{ stranka[0] }}" /></td>
                    <td><input type="text" name="Jmeno" value="{{ stranka[1] }}" /></td>
                    <td><input type="text" name="Link" value="{{ stranka[2] }}" /></td>
                    <td><input type="text" name="xpath_nadpis" value="{{ stranka[3] }}" /></td>
                    <td><input type="text" name="xpath_clanek" value="{{ stranka[4] }}" /></td>
                    <td><input type="text" name="xpath_links" value="{{ stranka[5] }}" /></td>
                    <td><input type="text" name="xpath_datum" value="{{ stranka[6] }}" /></td>
                    <td><input type="text" name="xpath_uvodni_odstavec" value="{{ stranka[7] }}" /></td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td><input type="text" value="" /></td>
                    <td><input type="text"value="" /></td>
                    <td><input type="text" value="" /></td>
                    <td><input type="text" value="" /></td>
                    <td><input type="text" value="" /></td>
                    <td><input type="text" value="" /></td>
                    <td><input type="text" value="" /></td>
                </tr>
        </table>
        </form>
    </body>
</html>