<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
  <title>xpath testing</title>
</head>
<body>
  <h1>Query Results</h1>
  <table border="1">
    <tr>
      <th>insert/update</th>
      <th>test site</th>
      <th>id_stranka</th>
      <th>jmeno</th>
      <th>link</th>
      <th>xpath_nadpis</th>
      <th>xpath_clanek</th>
      <th>xpath_links</th>
      <th>xpath_datum</th>
      <th>xpath_uvodni_odstavec</th>
      <th>xpath_autor</th>
    </tr>
    {% for row in stranky %}
    <tr>
	    <td><input type="submit" value="update" ></td>
      <td><input type="text" value=""></td>
	    <td>{{ row[0] }}</td>
      <td><input type="text" value="{{ row[1] }}"></td>
      <td><input type="text" value="{{ row[2] }}"></td>
      <td><input type="text" value="{{ row[3] }}"><input type="submit" value="test"></td>
      <td><input type="text" value="{{ row[4] }}"><input type="submit" value="test"></td>
      <td><input type="text" value="{{ row[5] }}"><input type="submit" value="test"></td>
      <td><input type="text" value="{{ row[6] }}"><input type="submit" value="test"></td> 
      <td><input type="text" value="{{ row[7] }}"><input type="submit" value="test"></td>
      <td><input type="text" value="{{ row[8] }}"><input type="submit" value="test"></td>
    </tr>
    {% endfor %}
    <tr>
      <th><input type="submit" value="insert"></th>
      <th>test site</th>
      <th>id_stranka</th>
      <th><input type="text"></th>
      <th><input type="text"></th>
      <th><input type="text"></th>
      <th><input type="text"></th>
      <th><input type="text"></th>
      <th><input type="text"></th>
      <th><input type="text"></th>
      <th><input type="text"></th>
    </tr>
  </table>
</body>
</html>
